<div>

    <div class="ibox">
        <div class="ibox-title">
            <h5>充值管理</h5>
        </div>
        <div class="ibox-content">
            <div style="margin-right: 40px;margin-bottom: 30px" class="btn-group">
                <button ng-click="check1()" data-toggle="button" class="btn btn-primary btn-outline active" type="button" aria-pressed="true">未充值</button>
                <button ng-click="check2()" data-toggle="button" class="btn btn-primary" type="button" aria-pressed="false">充值成功</button>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>卡号</th>
                    <th>公司类型</th>
                    <th>充值金额</th>
                    <th>用户名</th>
                    <th>充值方式</th>
                    <th>充值状态</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in itemList">
                    <td>{{$index+1}}</td>
                    <td>{{item.oilcardid}}</td>
                    <td>{{item.oilcardname}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.uname}}</td>
                    <td>{{item.payorg}}</td>
                    <td>{{item.status}}</td>
                    <td class="text-navy"><i class="fa fa-level-up"></i></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                操作 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="rechargeSuccess(item)">充值成功</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div id="callBackPager" style="text-align: center"></div>

    </div>
</div>