
<div>

    <div class="bs-example">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>类别</th>
                <th>版本号</th>
                <th>识别号</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in itemList">
                <td>{{$index+1}}</td>
                <td><span >{{item.softname}}</span></td>
                <td><span >{{item.softversion}}</span></td>
                <td><span >{{item.versioncode}}</span></td>
                <td>
                    <button ng-click="onSelect(item)" class="btn btn-success" data-toggle="modal" data-target="#update" type="submit">修改</button>
                </td>

            </tr>

            </tbody>
        </table>



        <div class="modal inmodal fade" id="update" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-sm" >
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">{{softname}}</h4>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">
                            <label for="version">版本号</label>
                            <input  ng-model="softversion" class="form-control" id="version" placeholder="请输入版本号">
                        </div>
                        <div class="form-group">
                            <label for="versioncode">识别号</label>
                            <input  ng-model="versioncode" class="form-control" id="versioncode" placeholder="请输入识别号">
                        </div>

                        <div class="progress" ng-show="isprogress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: vm.value + '%'}">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                        <button ng-show="isButton" style="margin-top: 10px" ngf-select="upload($file)"  type="button" class="btn btn-primary" data-dismiss="modal" ng-model="data.file">{{state}}</button>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="button" ng-click="onUpdate()"  data-dismiss="modal" class="btn btn-primary">更新</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>