.task-holder::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

.task-holder::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    display: block;
}

.task-holder::-webkit-scrollbar-track
{
    border-radius: 10px;
}

.task-holder::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, .15);
}

.task-holder::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.detail-scroll-holder {
    height: 100%;
    overflow: scroll;
    width: 100%
}
