.page-holder {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin-right: 20px;
  float: right;

  .page, .prev, .next, .total-page {
    color: #616161;
    padding: 0px 6px;
  }

  .green{
    color:#0A9908;
  }
}