<div class="ui-loading-toast loading core-component">
    <div class="ui-mask-transparent"></div>
    <div class="ui-toast">
        <div class="ui-loading">
            <div class="ui-loading-leaf ui-loading-leaf-0"></div>
            <div class="ui-loading-leaf ui-loading-leaf-1"></div>
            <div class="ui-loading-leaf ui-loading-leaf-2"></div>
            <div class="ui-loading-leaf ui-loading-leaf-3"></div>
            <div class="ui-loading-leaf ui-loading-leaf-4"></div>
            <div class="ui-loading-leaf ui-loading-leaf-5"></div>
            <div class="ui-loading-leaf ui-loading-leaf-6"></div>
            <div class="ui-loading-leaf ui-loading-leaf-7"></div>
            <div class="ui-loading-leaf ui-loading-leaf-8"></div>
            <div class="ui-loading-leaf ui-loading-leaf-9"></div>
            <div class="ui-loading-leaf ui-loading-leaf-10"></div>
            <div class="ui-loading-leaf ui-loading-leaf-11"></div>
        </div>
        <p class="ui-toast-content">数据加载中</p>
    </div>
</div>