<!DOCTYPE html>
<html ng-app="@ng-app-name">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@title</title>
    <base href="@base-url">
    <link rel="stylesheet" href="@lib-dep-css" />
    <link rel="stylesheet" href="@third-lib-css" />
    <link rel="stylesheet" href="@lib-css" />
    <link rel="stylesheet" href="@app-css" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->

    <script src="http://cdn.staticfile.org/webuploader/0.1.0/webuploader.html5only.js"></script>
    <script src="http://cdn.staticfile.org/webuploader/0.1.0/webuploader.html5only.min.js"></script>
</head>
<body ng-controller="LayoutController">



<div ui-view id="wrapper" class="" ng-class="{'app-navigation-folded': app.settings.asideFolded}"></div>


<style>
    .app-navigation-folded .layout-content {margin-left: 200px;}
</style>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="@third-lib-js"></script>
<script src="@lib-dep-js"></script>
<script src="@lib-js"></script>
<script src="@app-js"></script>
</body>
</html>
